body{
	font-family: 'Open Sans', sans-serif;
}
/*CSS Reset*/
/*
	CSS Reset is to set the default margin and padding of the
	webpage elements into 0 to remove any default measurement 
	assigned by the browser

	-box-sizing property defines how the width and height of
	an element are calculated
	-this will allow us to control the measurement of 
	elements better
	-border-box value includes "padding" and "border" 
	properties of an element to the total height and width in 
	its computation
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
/*	
	rem stands for root element measurement - default is 16px
	if not modified using css
*/
/*	margin, padding, and border properties can be set on
	one side only. just add the side e.g. -top, -bottom,
	-right, - left, on the property
*/
	padding: 0.8rem;	
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav.nav-logo{
	margin: .5rem;
	/*changes elements to inline elements*/
	display: inline;
}

#intro{
	padding: 2rem 10% 3rem;
	text-align: center;
}

.header{
	/*most used css layout property in centering text elements*/
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #C2195B;
	font-size: 1rem;
	border-radius: 25px;
	padding: 1rem;
}

#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	/*allows the cards to appear beside each other*/
	/*the elements are inlin to their sibling elements but behave
	as block elements outside their parent element*/
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	border: 1px solid black;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 1rem 2rem;
}

footer {
	padding: 0.7rem;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer{
	padding: 1rem;
	background-color: #002540;
	color: white;
}
#pre-footer div{
	vertical-align: top;
	display: inline-block;
	width: 20%;
}
#pre-footer p, #pre-footer h3{
	margin-bottom: 0.3rem;
}